

@media screen and (min-width: 900px) {

	.namePage{
		text-align: center;

		font-weight: bold;
		font-size: 20px;

		margin-bottom: 2rem;
		margin-top: 1rem;
	}

	.form{
		display: flex;
		flex-direction: column;

		margin-left: 10%;
		margin-right: 10%;
	}

	.row{
		flex: 1;
		display: flex;
		flex-direction: row;

	}

	.row div{
		flex: 1;

		margin: 5px;

		width: 98%;
	}

	.row input{
		height: 22px;

		min-width: 98%;
		max-width: 98%;
	}

	.row textarea{
		height: 50px;

		width: 99%;
	}

	.row label{
		margin-right: 70%;
	}

	.button{
		text-align: center;
	}

	.button button{
		height: 3rem;
		width: 8rem;

		font-size: 1rem;
		font-color: black;
		font-weight: bold;

		margin-top: 1rem;
		margin-bottom: 1rem;

		border-radius: 15px;
		border-width: 3px;

		/*Tempo para efetuar a transição hover*/
		transition: filter 0.2s;
	}

	/*O nth-child pega o primeiro e segundo botões dentro da class button*/
	.button > button:nth-child(1){
		background-color: #EB9989;

		margin-right: 3rem;
	}

	.button > button:nth-child(2){
		background-color: #AADB9B;
	}

	/*Aplica efeito de transição ao passar o mouse*/
	.addPage button:hover{
		filter: brightness(0.8);
	}

}

@media screen and (max-width: 899px) and (orientation: portrait) {
	.addPage{
		width: 100%;
		top: 0;
	}

	.namePage{
		text-align: center;

		font-weight: bold;
		font-size: 17px;

		margin-bottom: 2rem;
		margin-top: 1rem;
	}

	.form{
		display: flex;
		flex-direction: column;

		margin-left: 5%;
	}

	.row{
		flex: 1;
		display: flex;
		flex-direction: column;

		text-align: justify;
		align-items: center;
		justify-content: space-between;
	}

	.row div{
		flex: 1;
		margin: 10px;

		width: 100%;
	}

	.row input{
		height: 15px;

		min-width: 98%;
		max-width: 98%;

		margin-top: 5px;
	}

	.row textarea{
		height: 50px;

		width: 98%;
	}

	.row label{
		margin-right: 50%;
	}

	.button{
		text-align: center;
	}

	.button button{
		height: 3rem;
		width: 6rem;

		font-size: 1rem;
		font-color: black;
		font-weight: bold;

		margin-top: 1rem;
		margin-bottom: 1rem;

		border-radius: 15px;
		border-width: 3px;

		/*Tempo para efetuar a transição hover*/
		transition: filter 0.2s;
	}

	/*O nth-child pega o primeiro e segundo botões dentro da class button*/
	.button > button:nth-child(1){
		background-color: #EB9989;

		margin-right: 3rem;
	}

	.button > button:nth-child(2){
		background-color: #AADB9B;
	}

	/*Aplica efeito de transição ao passar o mouse*/
	.addPage button:hover{
		filter: brightness(0.8);
	}
}


@media screen and (max-width: 899px) and (orientation: landscape) {
	.addPage{
		width: 100%;
		top: 0;
	}

	.namePage{
		text-align: center;

		font-weight: bold;
		font-size: 17px;

		margin-bottom: 2rem;
		margin-top: 1rem;
	}

	.form{
		display: flex;
		flex-direction: column;

		margin-left: 5%;
		margin-right: 5%;
	}

	.row{
		flex: 1;
		display: flex;
		flex-direction: column;

		text-align: justify;
		align-items: center;
		justify-content: space-between;
	}

	.row div{
		flex: 1;
		margin: 10px;

		width: 100%;
	}

	.row input{
		height: 25px;

		min-width: 98%;
		max-width: 98%;

		margin-top: 5px;
	}

	.row textarea{
		height: 50px;

		width: 98%;
	}

	.row label{
		margin-right: 50%;
	}

	.button{
		text-align: center;
	}

	.button button{
		height: 4rem;
		width: 7rem;

		font-size: 1rem;
		font-color: black;
		font-weight: bold;

		margin-top: 1rem;
		margin-bottom: 1rem;

		border-radius: 15px;
		border-width: 3px;

		/*Tempo para efetuar a transição hover*/
		transition: filter 0.2s;
	}

	/*O nth-child pega o primeiro e segundo botões dentro da class button*/
	.button > button:nth-child(1){
		background-color: #EB9989;

		margin-right: 3rem;
	}

	.button > button:nth-child(2){
		background-color: #AADB9B;
	}

	/*Aplica efeito de transição ao passar o mouse*/
	.addPage button:hover{
		filter: brightness(0.8);
	}
}